@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@media only screen and (min-width: 700px) {
	.container {
		max-width: 60%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 699px) {
	.container {
		max-width: 100%;
		margin: 0 auto;
	}
}

img {
	max-width: 100%;
	max-height: auto;
}

*, input {
	font-family: "VT323", sans-serif;
}

a:link, a:visited {
	color: #f66 !important;
}

.heading-box {
	padding: 20px;
	margin-top: 20px;
	border: 12px solid grey;
	border-style: ridge;
	display: flexbox;
	background: linear-gradient(180deg, #fead7b, #c76d7f, #462371);
}

.section {
	margin-top: -40px;
	vertical-align: top;
	padding: 20px;
	border: 12px solid grey;
	border-style: ridge;
	display: flexbox;
	background-color: #282828;
	color: white;
}
