<html>
<head>
<title>Amanda — Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content ="An adorable social bot that enables you to connect with your server members more ">
<meta name="og:title" content="Amanda">
<meta name="og:url" content="https://amandabot.ga">
<meta name="og:image" content="https://cdn.discordapp.com/attachments/399054909695328279/493663084687392779/amanda.png">
<meta name="og:site_name" content="Amanda">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#bb4758">
<meta name="msapplication-TileColor" content="#bb4758">
<meta name="msapplication-config" content="/images/browserconfig.xml">
<meta name="theme-color" content="#bb4758">
<link rel="stylesheet" type="text/css" href="/main.css">
<script src="/dash/plus.js"></script>
<link rel="stylesheet" type="text/css" href="/dash/plus.css">