<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login | Amanda</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content ="A qt Discord music bot made for qts like you">
		<meta name="og:title" content="Amanda">
		<meta name="og:url" content="https://amanda.moe">
		<meta name="og:image" content="https://amanda.moe/images/amanda.webp">
		<meta name="og:site_name" content="Amanda">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.webp?v=lk9Bb25nwO">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.webp?v=lk9Bb25nwO">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.webp?v=lk9Bb25nwO">
		<link rel="manifest" href="/site.webmanifest?v=lk9Bb25nwO">
		<link rel="mask-icon" href="/images/safari-pinned-tab.svg?v=lk9Bb25nwO" color="#5bbad5">
		<link rel="shortcut icon" href="/images/favicon.ico?v=lk9Bb25nwO">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/browserconfig.xml?v=lk9Bb25nwO">
		<meta name="theme-color" content="#fef0d7">
		<link rel="stylesheet" type="text/css" href="/main.css">
	</head>
	<body>
		<input type="checkbox" class="toggle" id="mode">
		<div class="container">
			<nav id="topnav">
				<a class="navitem" href="/">Home</a>
				<a class="navitem" href="/about">About</a>
				<a class="navitem" href="/dash">Dash</a>
				<a class="right navitem">
					<label for="mode" class="modeToggle">Mode</label>
				</a>
			</nav>
			<main>
				<div class="about">
					<form action="/dash" method="post">
						<label for="token">Token</label><br>
						<input type="text" id="token" name="token">
						<input type="hidden" id="csrftoken" name="csrftoken" value="$csrftoken">
						<button type="submit">Submit</button>
					</form>
				</div>
			</main>
		</div>
	</body>
</html>
