<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content ="A qt Discord music bot made for qts like you">
<meta name="og:title" content="Amanda">
<meta name="og:url" content="https://amanda.discord-bots.ga">
<meta name="og:image" content="https://amanda.discord-bots.ga/images/amanda.png">
<meta name="og:site_name" content="Amanda">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=lk9Bb25nwO">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png?v=lk9Bb25nwO">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png?v=lk9Bb25nwO">
<link rel="manifest" href="/images/site.webmanifest?v=lk9Bb25nwO">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg?v=lk9Bb25nwO" color="#5bbad5">
<link rel="shortcut icon" href="/images/favicon.ico?v=lk9Bb25nwO">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/images/browserconfig.xml?v=lk9Bb25nwO">
<meta name="theme-color" content="#fef0d7">
<link rel="stylesheet" type="text/css" href="/main.css">