mixin user(user)
	img(src="https://cdn.discordapp.com/avatars/" + user.id + "/" + user.avatar + ".png?size=128", alt=user.username + "'s avatar").avatar

doctype html
html
	include includes/head.pug
		title About | Amanda

	body
		include includes/nav.pug
		+nav("about")

		div.title
			div.box Developers
		div.about
			each member in devs
				if member.user.avatar
					+user(member.user)
		p
			| ​
		p
			| ​
		div.title
			div.box Donors
		div.about
			each member in donors
				if member.user.avatar
					+user(member.user)
		p
			| ​
		p
			| ​
		div.title
			div.box Translators
		div.about
			each member in translators
				if member.user.avatar
					+user(member.user)
