doctype html
html
	include includes/head.pug
		title Donate | Amanda

		body
			include includes/nav.pug
			+nav("donate")

			div.title
				div.box Donation Info
			div.message
				div.wide
					div Donating will always be optional. Amanda will never display ads or require any sort of actions to use any of her functions.
					div You have a few options on how to donate. You may donate via #[a(href="/to/patreon") Patreon] or via #[a(href="/to/paypal") Paypal]. To receive rewards, you must pledge or give $2 or greater.
					div We do not ask for greater than $2 and do not require payments to be monthly but if you choose, you may continue to support us.
					div We pour a lot of our hours into Amanda and any amount is appreciated and helps us immensely.
			div.message
				div.wide Rewards:
					div 1. A donor role in #[a(href="/to/server") Amanda's support server].
					div 2. A donor badge on the profile command (to show off your swag).
					div 3. Custom backgrounds on the profile command.
					div 4. 10,000 Amandollars weekly.
					div 5. Access to developer updates and more seriously considered suggestions (must be in #[a(href="/to/server") support server]).
					div Finally: Amanda's undying love <3
