doctype html
html
	include includes/head.pug
		title The Dream | Amanda

	body
		include includes/nav.pug
		+nav("dream")

		div.title
			div.box The Dream of Empowerment
		div.about

		div.fatbox.dream-page
			p The years I've spent on Discord have been fantastic, from the people to the experiences of diverse communities.
				|  It wasn't long until I got into Discord bot development and met some very supportive people who helped me learn and hosted when I couldn't.
				| Amanda was created in early 2018 when the Discord bot space was much less competitive than it is now. A lot has changed.
				|  Of course, what hasn't changed is my goal and Amanda's goal. My goal specifically is to create bots people can depend on
				| and others would enjoy to implement into their Discord servers and to create good experiences like I had.
				|  Of course, this has become quite challenging with other bot owners competeing with actual money to make front page of bot list sites
				| or bots locking feature(s) where a user has to vote for said bot to unlock the feature(s) temporarily where said feature(s)
				| might be core features of the bot and what users desire the most out of the bot, making it a major inconvenience for the end-user.
				|  Giving in and voting for said bot artifically increases the chances of them appearing on the front page, which is their incentive for locking the feature(s).

		p
			|
		p
			|

		div.fatbox.dream-page
			p Of course, people need to make money and progress somehow, which I understand. However, I hope that I'm not hindering myself or Amanda for no reason.
				|  Growth has been slow ever since Amanda's creation and hasn't really "picked up" until YouTube started banning the IPs of more popular bots
				| and replacements were necessary. Even then, 1000 server increments have been few and far between. Not that the numbers matter. All that matters
				| to me is that people like how Amanda is now. I dream that Amanda is reliable and good enough and meets and exceeds expectations; Being feature rich
				| and free. The dream is end-user satisfaction and making things a convenience. I hope I've met that for most users. I hope to continue to strive for that.
				|  I hope that it all pays off in the end... Figuratively and literally that is. A guy can dream
