doctype html
html
	include includes/head.pug
		title Error | Amanda

	body
		include includes/nav.pug
		+nav("dash")

		div.title
			div Ouch. That's an error.

		div.message
			div.wide
				div.alert= message
				div This is a bug. Please #[a(href="/to/server") join our server and report it.]

		div.message
			a(href="/to/server").pinkbutton Join our server
			a(href="/").pinkbutton Go home
