doctype html
html
	include includes/head.pug
		title Open Source Software | Amanda

	body
		include includes/nav.pug
		+nav("oss")

		div.title
			div.box Open Source Software
		div.about

		div.title
			div Amanda is open source for all to see how it is she does what she does! You may view her #[a(href="/to/github") GitHub].
				|  We as creators love open source and find it very essential that open source exists. However, we always have been concerned about people
				|  stealing Amanda's code and passing it off as their own and competing with Amanda and possibly exceeding her in server count with said stolen code.
				|  Amanda was not always open source and the decision to make her open source was difficult, however, she is now for transparency reasons.
				|  The license included with Amanda details points which we believe encompasses all of the points we were worried about.
				|  We do have docs for self hosting, but we do not encourage it in any capacity due to the worries highlighted above and running yourself the risk
				|  of violating the open source license we bundle with Amanda.
