doctype html
html
	include includes/head.pug
		title Others | Amanda

	body
		include includes/nav.pug
		+nav("others")

		div.title
			div.box Other bots
		div.message
			div.wide
				div.title Tsukiko
				img(src="/api/avatar/709907646387322932", alt="Tsukiko's avatar").avatar
				div
					|
				div Owner: PapiOphidian
				div Tsukiko is a role management bot which does join roles, reaction roles, self assignable roles, voice channel roles and more. Add #[a(href="/to/tsukiko") here]

		div
			|

		div.message
			div.wide
				div.title Chewey Bot
				img(src="/api/avatar/358463108433575937", alt="Chewey Bots's avatar").avatar
				div
					|
				div Owner: Chewey
				div Chewey Bot is a multipurpose bot which offers a very vast array of helpful utilities for server admins and games to bring a server to life. Add #[a(href="https://invite.chewey-bot.top") here]
