doctype html
html
	include includes/head.pug
		title Home | Amanda

	body
		include includes/nav.pug
		+nav("home")

		div.landing
			img(src="/images/amanda.png").landing-image
			p Amanda#8293
			p
				| A qt music bot made for qts:
				| <br>Amanda can play music, games, manage an economy, and so much more.
				| <br>But most importantly: cat pictures.
				| <br>Let there be cats! ༼ つ ◕ヮ◕ ༽つ
			div
				a(href="https://amanda.moe/to/add").pinkbutton Add Amanda
				a(href="https://amanda.moe/to/server").pinkbutton Join our server

			div
				p
					a.pinkbutton IMPORTANT ANNOUNCEMENT
					| <br> Amanda has been on and off unresponsive for a week or so.
					| <br> I've known about it and I can assure you that I am also in panic mode.
					| <br> I've been working on a rewrite for a long time to mitigate this.
					| <br> The rewrite has been expidited to live for now because of total unresponsiveness.
					| <br> I'm sorry for any inconvenience this may have caused, but not everything is finished. Most importantly, music.
					| <br> The rewrite may take another week or so, but things will be better.
					| <br> Join the server for updates and info on why this all happened.
