doctype html
html
	include includes/head.pug
		title Access denied | Amanda
	
	body
		include includes/nav.pug
		+nav("dash")

		div.message
			div You are not permitted to access this page.

		div.message
			a(href="/dash").pinkbutton
				if session
					| Dashboard
				else
					| Log in
			a(href="/").pinkbutton Go home