doctype html
html
	include includes/head.pug
		title Log in | Amanda
		script.
			function showGetToken(event) {
				document.getElementById("get-token").classList.add("hidden-active")
				event.target.disabled = true
			}
	
	body
		include includes/nav.pug
		+nav("dash")

		div.title
			div Log in

		if message
			div.message
				div= message

		form(method="post" action="/dash")
			div.login-container
				input(name="token" placeholder="Token" required)
				input(type="submit" value="Log in")
				input(type="button" value="What's this?" onclick="showGetToken(event)")
		
		div#get-token.message.hidden
			div
				div
					| Entering a token on this page links your Discord account with this web browser.
					| This lets you manage Amanda's music queues and playlists online.
				div
					| To get a token, DM Amanda with the command #[code &amp;musictoken].