<html>
<head>
<title>Amanda — Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content ="A general purpose bot looking to bring server members closer">
<meta name="og:title" content="Amanda">
<meta name="og:url" content="https://amandabot.ga">
<meta name="og:image" content="https://cdn.discordapp.com/avatars/405208699313848330/8cf7c89ac40c5600b3ce834c4e0a28fe.png?size=512">
<meta name="og:site_name" content="Amanda">
<link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/405208699313848330/8cf7c89ac40c5600b3ce834c4e0a28fe.png?size=32">
<link rel="stylesheet" type="text/css" href="/main.css">
<script src="/dash/plus.js"></script>
<link rel="stylesheet" type="text/css" href="/dash/plus.css">