@font-face {
	font-family: Whitney;
	src: url("/images/whitney.ttf");
}

* {
	font-family: Whitney;
}

a, a:visited {
	color: inherit;
}

body {
	background: url("/images/back-tg.svg?d=home&c=1") no-repeat center center fixed;
	background-size: cover;
	margin: 0px;
}

h1 {
	color: #222;
	text-align: center;
}

nav {
	background-color: #333;
	border-bottom: 3px solid #333;
	display: flex;
}

a.navitem {
	color: #ddd;
	display: inline-block;
	padding: 14px;
	text-decoration: none;
	transition: 0.2s ease-out;
}
a.navitem:hover {
	background-color: #444;
}
a.navitem.active {
	background-color: #ee7c63;
	color: #000;
}

.content {
	padding: 16px;
}

.landing {
	color: #111;
	text-align: center;
	text-decoration: none;
	font-size: 32px;
	margin: 40px 0px;
}

.landing img[alt=icon] {
	mask-image: linear-gradient(to left, rgba(0,0,0,1) 88%, rgba(0,0,0,0.9) 90%, rgba(0,0,0,0.5) 95%, rgba(0,0,0,0));
	-webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 88%, rgba(0,0,0,0.9) 90%, rgba(0,0,0,0.5) 95%, rgba(0,0,0,0));
	width: 256px;
}

.pinkbutton {
	padding: 16px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition: 0.2s ease-out;
	background-color: white;
	color: black;
	border: 2px solid #de56a9;
}

.pinkbutton:hover {
	background-color: #de56a9;
	color: white;
}

.whitebox {
	display: inline-block;
	border: 5px solid #222;
	padding: 16px;
	background-color: rgba(255, 255, 255, 0.6);
	color: #282828;
	margin: 16px;
}

.aboutbox {
	font-size: 24px;
}
.aboutbox *:first-child {
	margin-bottom: 16px;
	color: #111;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flexcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}