#serverList {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#serverListUnclickable {
	color: #666;
}

.serverListItem {
	width: 280px;
	display: flex;
	align-items: center;
	margin: 10px;
}
.serverListItem img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid #000;
	background: #3b88c3;
	margin: 10px;
}
.serverListItem span {
	display: inline-block;
	margin: 0px 10px;
}

#nowPlaying {
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 10px;
}

#bigThumbnail {
	width: 240px;
	height: 180px;
	margin-right: 15px;
}

#progressContainer {
	font-size: 20px;
	border: 1px solid black;
	display: flex;
	width: 600px;
}
#progressContainer span {
	margin: 4px;
	font-family: "Noto Sans";
}
#progressBar {
	display: inline-block;
	flex: 1;
	border: 1px solid black;
}

#buttonControlContainer {
	margin-top: 4px;
}
button img {
	width: 40px;
	height: 40px;
}
button {
	outline: none;
	background: transparent;
	border: 1px solid black;
	padding: 5px;
}

.queueItem {
	display: flex;
	margin-bottom: 8px;
}
.queueItem > * {
	display: inline-block;
}
.queueItem img {
	width: 160px;
	height: 90px;
	margin-right: 10px;
}
.queueSongTitle {
	font-size: 20px;
	margin-top: 4px;
	margin-bottom: 6px;
}
.queueSongAuthor {
	margin-bottom: 6px;
}
#queueItemStorage {
	display: none;
}

#bigThumbnail {
	border: 5px solid;
}